{% extends 'base.html' %} {% block content %}

<div
  class="border border-light-bg2 bg-light-bg1 text-light-fg rounded p-6 flex flex-col items-center justify-center text-center"
>
  {% if posting.logo %}
    <img
    src="{{ posting.logo.url }}"
    alt="{{ posting.title }}"
    class="w-48 mr-4 mb-6"
    />
  {% endif %}

  <h3 class="text-2xl mb-2">{{ posting.title }}</h3>
  <div class="text-xl font-bold mb-4">{{ posting.company }}</div>
  <ul>
    <li
      class="flex items-center justify-center bg-light-fg text-light-bg1 rounded-xl py-1 px-3 mr-2 text-xs"
    >
      todo tags
    </li>
  </ul>
  <div class="text-lg my-4">
    <i class="fa-solid fa-location-dot"></i> {{ posting.location }}
  </div>
  <div class="border border-light-bg2 w-full mb-6"></div>
  <h3 class="text-3xl font-bold mb4">Job Description</h3>
  <div class="text-lg space-y-6 w-full">
    {{ posting.description }}

    <a
      href="mailto:{{ posting.email }}"
      class="block bg-primary-bg text-primary-fg mt-6 py-2 rounded-xl hover:text-primary-hover"
    >
      <i class="fa-solid fa-envelope"></i> Contact Employer
    </a>
    <a
      href="{{ posting.website }}"
      class="block bg-light-bg2 text-light-fg py-2 rounded-xl hover:text-primary-hover"
    >
      <i class="fa-solid fa-globe"></i> Website
    </a>
    <div class="flex items-center justify-center space-x-4">
      <a
        href="{% url 'postings:postings-update' posting.id %}"
        class="w-full py-2 rounded-xl bg-primary-bg text-primary-fg hover:text-primary-hover"
      >
        <i class="fa-solid fa-pencil"></i> Update Posting
      </a>
      <a
        href="{% url 'postings:postings-delete' posting.id %}"
        class="w-full py-2 rounded-xl bg-light-bg2 text-light-fg hover:text-primary-hover"
      >
        <i class="fa-solid fa-trash-can"></i> Delete Posting
      </a>
    </div>
  </div>
</div>

{% endblock content %}
